<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings>
  <add name="ConexionBDProyecto" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString1" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString3" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString4" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString5" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString6" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString7" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString8" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString9" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString10" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString11" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString12" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString13" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString14" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString15" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString16" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString17" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString18" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString19" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString20" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString21" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString22" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString23" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString24" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString25" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString26" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString27" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString28" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString29" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString30" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString31" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString32" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString33" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString34" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString35" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString36" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString37" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString38" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
  <add name="BDProyectoConnectionString39" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BDProyecto.mdf;Integrated Security=True;Connect Timeout=30"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

</configuration>